body{
	background-color:#e5e5e5;
}
/*la page elle même*/
.grandbloc{
	width:900px;
	height:620px;
	background-color:white;
	position: relative;
	margin:auto;
	margin-bottom:0px;
}
.partie1{
	width:350px;
	height:80%;
	margin:auto;
	background-color:white;
	display:inline-block;
	font-family:New Gothic light;
	font-size:50px;
}
.bloc1{
	background-color:white;
}
.partie2{
	width:360px;
	margin:auto;
	background-color:white;
	height:95px;
	float:right;
	display:inline-block;
	border-radius:0px 0px 0px 4px;
	margin-top:3px;
	margin-right:4px;
}

.button{
	display:inline-block;
	outline:0;
	padding:1%;
	text-decoration:none;
	color:#fff;
	font-family:calibri;
	font-size:1.01em;
	background-color:#4eb253;
	text-align:center;
	cursor:pointer;
	margin-left:-3px;
	height:35px;
}
.user
{
	margin-top:2px;
	padding:8px;
	border:none;
	border-bottom:1px solid #808080;
	width:20%;
	border:1px solid #ccc;
	margin-left:9px;
	height:18px;
	background-color: #f2f2f2;
	display:inline-block;
}
.inscription{
	margin:auto;
	margin-top:5px;
	width:120px;
	height:35px;
	margin-left:10px;
	background-color:#4eb253;
	color:white;
	cursor:pointer;
	
	
}
.formulaire{
	width:450px;
	height:550px;
	background-color:white;
	margin:auto;
	margin-top:70px;
	overflow:auto;
    position:relative;
}
.division{
	position:fixed;
	width:100%;
	height:100%;
	top:0px;
	left:0px;
	right:0px;
    z-index:1100;
	display:none;
}
.opaque{
	position:absolute;
	width:100%;
	height:100%;
	margin:auto;
	top:0px;
	background-color:black;
	opacity:0.8;
	
}
.champ{
	width:350px;
	height:40px;
	background-color:#white;
	margin:10px 0;
	top:50px;
	font-size:16px;
	padding-left:16px;
	box-sizing:border-box;
	border:2px solid gray;
	border-radius:4px;
	-moz-transition:width 0.5s ease-in-out;
	transition:width 0.5s ease-in-out;
}
.champ:focus{
	width:90%;
}
.close{
	width:100%;
	height:30px;
	font-size:16px;
	margin:auto;
	color:white;
	background-color:red;
	cursor:pointer;
	text-align:center;
	margin-bottom:40px;
	border-radius:2px;
}
select{
	width:200px;
	padding:16px 20px;
	border:none;
	border-radius:4px;
	background-color:#f1f1f1;
}
.log{
	width:60%;
	height:40px;
	border:none;
	border-radius:6px;
	cursor:pointer;
	margin:10px 6px;
	color:white;
	font-size:20px;
	background-color:blue;
	text-align:center;
}
.menu{
	width: 900px;
	height:45px;
	color: white;
	background-color: #79c753;
	margin:auto;
}
.menu ul{
	display:inline-block;
	height:40px;
	font-family:calibri;
	padding-right:60px;
	margin-top:0px;
	margin-bottom:0px;
	padding-top:5px;
	cursor:pointer;

}
.menu ul:hover{

	background-color:#555;
}
.dropdown-content {
    display: none;
	margin:auto;
	margin-top:8px;
    position: absolute;
    background-color: #f9f9f9;
    width:120px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index:5;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #abf2ad;}
.menu ul:hover .dropdown-content{
	display:block;
}

.corps{
	width: 900px;
	height: 410px;
	color:black;
	background-color:white;
    margin:auto;
}
.joueur{
	height:100%;
	width: 250px;
	color: black;
	background-color:white;
	position:relative;
	margin:auto;
	float:left;
	font-family:Verdana;
	font-size: 12px;
	padding-left:10px;
}
.slides{
	height:380px;
	float: right;
	width:532px;
	margin:auto;
	margin-right:55px;
	margin-top:8px;
	display:inline-block;
	z-index:900;
}
.text{
	margin-top:-70px;
	width:500px;
	z-index:1001;
	height:50px;
	padding:1%;
	color:black;
	font-weight: bold;
}
.hall
{
	list-style-type:none;
	height:100%;
	padding:6px 2px 6px 16px;
	
	

}
.shall
{
	margin-top:1px;
	margin-bottom:1px;
	border-bottom:1px solid #ddd;
	height:60px;

}
.shall strong{
	margin-left:10px;
}
.shall span{
	margin-left:10px;
}
.shall .tooltip{
	visibility:hidden;
	width:120px;
	height:35px;
	background-color:#e5e5e5;
	text-align:center;
	border-radius:6px;
	position:absolute;
	z-index:1px;
}
.shall:hover .tooltip{
	visibility:visible;
}
.right, .left{
	cursor:pointer;
}
.tof2
{
	
	float:left;
	border-radius: 50px 50px 25px 25px;
	width:50px;
	margin-bottom:10px;
}
.footer{
	width:900px;
	height:60px;
	color: black;
	opacity: 0.7;
	border-top: 1px solid #e5e5e5;
	font-family: calibri;
	margin:	auto;
	position:relative;
	bottom: 0px;
	background-color:white;
}
.bloc{
	width:900px;
	height:642px;
	background-color:white;
	margin:auto;
	position:relative;
}
.menucompte{
	width:900px;
	height:1px;
	margin:auto;
	top:0px;
	background-color:#d8d8d8;
}
.side{
	width:250px;
	height:582px;
	margin-left:0px;
	background-color:#79c753;
	top:0px;
	color:white;
	font-family:calibri;
}
.haut{
	width:100%;
	height:80px;
	margin:auto;
	top:0px;
	background-color:#4eb253;
}
.tof4{
	width:60px;
	border-radius:20%;
	margin-right:6px;
	margin-left:6px;
}
.ligne{
	width:100%;
	height:3px;
	background-color:#d8d8d8;
	margin:auto;
	top:0px;
}
.bottomnav{
	content:"";
	display:table;
	clear:both;
    font-family:Calibri;
	font-size: 1.2em;
	padding:0.01em 16px;
    text-align:center;
}
.dash{
	display:block;
	padding:8px 16px;
	margin-bottom:10px;
	text-decoration:none;
	color:white;
}
.dash:hover{
	background:white;
	color:black;
}
.footercompte{
	width:250px;
	height:60px;
	background-color:#4eb253;
	margin:auto;
	margin-left:0px;
	top:0px;
	
}
.headerlogin{
	width:100%;
	height:120px;
	background-color:white;
}
.menulogin{
	width:100%;
	height:45px;
	background-color:#79c753;
	margin:auto;
}
.menulogin ul{
	display:inline-block;
	font-family:calibri;
	padding-top:5px;
	margin-top:0px;
	margin-bottom:auto;
	padding-right:60px;
	cursor:pointer;
	color:white;
}
.corpslogin{
	width:100%;
	height:410px;
	background-color:white;
}
.play{
	width:400px;
	height:90px;
	margin:auto;
	background-color:#4eb253;
	top:120px;
	position:relative;
	border-radius:15px;
	cursor:pointer;
}
.plai{
	font-family:calibri;
	font-size:50px;
	color:white;
	margin:auto;
	position:relative;
	left:0px;
	width:100%;
	cursor:pointer;
	background-color:#4eb253;
	height:100%;
	border-radius:15px;
	
}
.footerlogin{
	width:100%;
	height:1px;
	background-color:gray;
}
