 body
 {
 	background-color: #0c6;
 	/*background-color: #033;*/

 	background-image: url("background.png");
 	background-repeat : no-repeat ;
 	background-size: cover;
 }
 #all
 {
 	height:500px;
 	width: 100%;
 	
 	
 }
 #container {
 width: 79%;
 height: 80%;
 position: relative;
 background: none;
display:inline-block;

margin:auto;
}
.animate {
 
 height: 55px;
 width:60px;
 word-wrap : break-word ;
 background: url("bulle.png");
 position: relative;
 text-shadow: gray;
 font-size: 1.2em;
 text-align: center;
 /*border: 1px solid black;*/
 background-position :center center ;
 background-size: cover;
color:#666;
 display:inline-block;
 margin-left:1px ;
 padding: 24px;
 
}
#game
{
	font-size: 2em;
	margin:auto;
	
}
#compteur
{
	background-image: url("bulle.png");
	margin:auto;
	height:150px;
	background-position :center center ;
    background-size: cover;
    color:#666;
    padding-top:60px;
	text-align: center;
	font-size: 3.5em;

	
}
#stop
{
	width:100%;
	height:100%;
    display:inline-block;

background-position :center center ;
 background-size: cover;
 position: relative;
 
}
input{margin-top: 20px;}
#saisie{
	/*z-index:100;
	position: absolute;
	   top:550px;
	   bottom:0px;
	   left: 10px;*/
	}
#next
{
	width:20%;
	height:400px;
	color:#666;
	
	display:block;
	float: right;
}
#back
{
        z-index:8;
		display:none;
		padding-top:100px;
		position:fixed;
		left:0;top:0;
		width:100%;
		height:100%;
		overflow:auto;
		margin-bottom:50px;
		color:black;
		background-color:(0,0,0);
		background-color:rgba(0,0,0,0.4);
}
#gameover
{
	text-align:center;
	display: block;
	background-color:#fff;
	position: relative;
    margin:auto;
	padding:0;
	outline:0;
	width:40%;
	height:44%;
	box-shadow:0 8px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19)!important;
	animation:animatezoom 1.1s ;	
}

@keyframes animatezoom
  {
  	0% {transform:scale(0)}
	 25%{transform:scale(1.2)}
	 50%{transform:scale(0.8)}
	 100%{transform:scale(1)}
	
}
#level
{
	
	color: #FFF;

	font-size: 1.7em;
	
}
#speed
{color: #FFF;
	
	font-size: 1.7em;
}
#score
{color: #FFF;
font-size: 1.7em;
display:block;}
#life
{color: #FFF;
	font-size: 1.7em;
margin-bottom:55px;}
#nuage
{
	word-wrap : break-word ;	
	width: 160px;
	height: 60px;
 background-image: url("nuage.png");
 position: relative;
 text-shadow: gray;
 font-size: 1.2em;
 text-align: center;
 
 background-position :center center ;
 background-size: cover;
color:#666;
 display:inline-block;
 
}
#nuage2
{
	word-wrap : break-word ;	
	width: 150px;
	height: 65px;
 background-image: url("nuage.png");
 position: relative;
 text-shadow: gray;
 font-size: 1.2em;
 text-align: center;
 
 background-position :center center ;
 background-size: cover;
color:#666;
 display:inline-block;
	margin-top: 50px;
}
#again
{
	width:100%;
	height:50%;
	background-image: url("reload.png");
	background-repeat: no-repeat;
	background-position: 140px;
	/*margin-bottom:50px;*/
	/*border:1px solid red;*/
	cursor: pointer;
	
}
.info
{
	width:100%;
	height:22px;
	color:red;
	display:inline-block;
	float:bottom;
}
#ailleurs
{

		padding-left:20px;
		padding-right:20px;
		font-size: 2em;
		cursor: pointer;
}
#leve
{
width:49%;
height:20px;
font-size: 1.3em;
border:1px solid black;
border-right:none;
float:left;
}
#scor
{
	font-size: 1.3em;
	width:50%;
height:20px;
border:1px solid black;
float:left;

}
#social
{
	width:49%;
height:50px;
margin:auto;
}
#face
{ width:50px;
	height:50px;
	display:inline-block;

background-image: url("ico_addthis_facebook.png");
background-position:10px ;
background-repeat: no-repeat;
}
#tweeter
{
	width:50px;
	height:50px;
	display:inline-block;
background-image: url("ico_addthis_twitter.png");
background-position:10px ;
background-repeat: no-repeat;
}
#google
{
	background-repeat: no-repeat;
	width:50px;
	height:50px;
	display:inline-block;

background-image: url("ico_addthis_googleplus.png");
background-position:10px ;
}
a:link
{
	text-decoration: none;
}
#face:hover
{
	background-color: blue;
}
#tweeter:hover
{
	background-color: blue;
}
#google:hover
{
	background-color: red;
}